@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin-ext");
@font-face {
  font-family: "Chaparral";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/ChaparralPro-Regular.ttf") format("ttf"), url("fonts/ChaparralPro-Regular.eot") format("eot"), url("fonts/ChaparralPro-Regular.woff2") format("woff2"), url("fonts/ChaparralPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Chaparral";
  font-weight: bold;
  font-style: normal;
  src: url("fonts/ChaparralPro-Bold.ttf") format("ttf"), url("fonts/ChaparralPro-Bold.eot?") format("eot"), url("fonts/ChaparralPro-Bold.woff2") format("woff2"), url("fonts/ChaparralPro-Bold.woff") format("woff");
}

/* line 4, sass/fbn.scss */
body, html {
  width: 100%;
  height: 100%;
  font-size: 1em;
  color: #515353;
  font-style: normal;
  position: relative;
  font-family: 'Chaparral', sans-serif;
}

/* line 14, sass/fbn.scss */
* {
  box-sizing: border-box;
}

/* line 18, sass/fbn.scss */
a, a:link, a:visited {
  color: #56b251;
  text-decoration: none;
}

/* line 23, sass/fbn.scss */
a:hover {
  color: #78c274;
}

/* line 27, sass/fbn.scss */
.page-width-holder {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 32, sass/fbn.scss */
#nav-buttons {
  padding: 25px 0;
}

/* line 35, sass/fbn.scss */
#szalag {
  background: #323232;
  color: white;
  padding: 25px 0;
}
/* line 40, sass/fbn.scss */
#szalag .holder {
  position: relative;
  font-size: 3.3em;
  text-align: center;
}
/* line 44, sass/fbn.scss */
#szalag .holder .title {
  padding-right: 50px;
  margin-bottom: 25px;
}
/* line 48, sass/fbn.scss */
#szalag .holder .subtitle {
  color: #56b251;
  font-size: 0.6em;
  padding-left: 30px;
}
/* line 54, sass/fbn.scss */
#szalag .holder:before {
  content: ",,";
  position: absolute;
  left: 10px;
  bottom: -20px;
  font-size: 240px;
  line-height: 1;
  font-family: "Chaparral", serif;
  letter-spacing: -20px;
  pointer-events: none;
}
/* line 65, sass/fbn.scss */
#szalag .holder:after {
  content: ",,";
  position: absolute;
  right: 30px;
  top: -160px;
  font-size: 240px;
  line-height: 1;
  font-family: "Chaparral", serif;
  letter-spacing: -20px;
  pointer-events: none;
}

/* line 78, sass/fbn.scss */
#slideshow-container {
  display: block;
  height: 300px;
  max-height: 300px;
  overflow: hidden;
  background: #449040;
}

/* line 86, sass/fbn.scss */
#login-container {
  background: #e62f25;
  color: white;
  padding: 20px;
  text-align: right;
}
/* line 93, sass/fbn.scss */
#login-container #login-box label, #login-container #login-box input {
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

/* line 104, sass/fbn.scss */
#header-container {
  background: white;
}
/* line 107, sass/fbn.scss */
#header-container #logo {
  text-align: center;
  padding: 25px;
}
/* line 111, sass/fbn.scss */
#header-container #logo h1 a {
  display: block;
  text-indent: -1000em;
  width: 240px;
  height: 60px;
  margin: 0 auto;
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
}
/* line 121, sass/fbn.scss */
#header-container #topmenu {
  text-align: center;
  border-top: 1px solid #E6E7E8;
}
/* line 125, sass/fbn.scss */
#header-container #topmenu ul, #header-container #topmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 130, sass/fbn.scss */
#header-container #topmenu ul > li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  position: relative;
}
/* line 137, sass/fbn.scss */
#header-container #topmenu ul > li > a {
  display: block;
  padding: 20px;
  color: #515353;
  text-decoration: none;
  font-size: 1.1em;
  border-top: 3px solid transparent;
}
/* line 145, sass/fbn.scss */
#header-container #topmenu ul > li > a:hover {
  border-top: 3px solid #56b251;
}
/* line 150, sass/fbn.scss */
#header-container #topmenu ul > li > ul {
  position: absolute;
  display: none;
  background: #323232;
  width: 250px;
  max-width: 250px;
}
/* line 156, sass/fbn.scss */
#header-container #topmenu ul > li > ul li {
  display: block;
  width: 100%;
  text-align: left;
}
/* line 161, sass/fbn.scss */
#header-container #topmenu ul > li > ul a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  text-align: left;
  padding: 10px;
  line-height: 1.4;
  border-bottom: 1px solid #6e6e6e;
}
/* line 171, sass/fbn.scss */
#header-container #topmenu ul > li > ul a:hover {
  background: #56b251;
}
/* line 177, sass/fbn.scss */
#header-container #topmenu ul > li:hover > ul {
  display: block;
}

/* line 185, sass/fbn.scss */
body.index #forum {
  padding: 25px 0;
}
/* line 188, sass/fbn.scss */
body.index #news {
  background: #E6E7E8;
  padding: 25px 0;
}

/* line 194, sass/fbn.scss */
h2.page_header {
  text-align: center;
  font-size: 2.6em;
  color: #56b251;
  margin: 10px 0 25px 0;
}

/* line 201, sass/fbn.scss */
footer {
  background: #323232;
}
/* line 204, sass/fbn.scss */
footer #partners {
  padding: 25px 0;
  text-align: center;
}
/* line 208, sass/fbn.scss */
footer #partners .logo-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/* line 216, sass/fbn.scss */
footer #partners .logo-holder a {
  height: 50px;
  line-height: 50px;
  margin: 0 15px 15px 0;
  background-repeat: no-repeat;
  background-position: left top;
}
/* line 224, sass/fbn.scss */
footer #partners h3 {
  font-size: 2.4em;
  text-align: center;
  margin: 0 0 20px 0;
  color: #56b251;
  display: block;
  clear: both;
}
/* line 235, sass/fbn.scss */
footer #sitemap {
  border-top: 20px solid white;
  padding: 25px 0;
  color: white;
  background: #56b251;
}
/* line 241, sass/fbn.scss */
footer #sitemap a {
  color: white;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-size: 0.9em;
  line-height: 1.3;
}
/* line 251, sass/fbn.scss */
footer #sitemap > .page-width-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 256, sass/fbn.scss */
footer #sitemap > .page-width-holder > section {
  flex-basis: calc(100% / 3);
}
/* line 262, sass/fbn.scss */
footer #sitemap article p {
  padding: 2px 0;
  display: block;
  font-family: "PT Sans", sans-serif;
}
/* line 267, sass/fbn.scss */
footer #sitemap article h3 {
  color: #323232;
  margin: 0 0 15px 0;
  font-size: 1.24em;
}
/* line 275, sass/fbn.scss */
footer section.copyright {
  text-align: center;
  padding: 15px 0;
  color: white;
  font-size: 0.9em;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

/* line 285, sass/fbn.scss */
.clearer {
  clear: both;
}

/* line 290, sass/fbn.scss */
.section-holder.flex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
/* line 296, sass/fbn.scss */
.section-holder.flex-grid article {
  font-size: 0.85em;
  flex-basis: 100%;
  padding: 10px;
  color: #939293;
}
/* line 302, sass/fbn.scss */
.section-holder.flex-grid article .iwrapper {
  padding: 20px;
}
/* line 305, sass/fbn.scss */
.section-holder.flex-grid article .iwrapper header {
  font-family: "PT Sans", sans-serif;
  margin: 15px 0;
  font-size: 0.82em;
  padding: 5px 0;
  border: 1px solid #BBBDBF;
  border-left: none;
  border-right: none;
  font-weight: bold;
}
/* line 315, sass/fbn.scss */
.section-holder.flex-grid article .iwrapper header span {
  color: #56b251;
}
/* line 319, sass/fbn.scss */
.section-holder.flex-grid article .iwrapper header a {
  color: #939293;
}
/* line 322, sass/fbn.scss */
.section-holder.flex-grid article .iwrapper header a:hover {
  color: black;
}
/* line 328, sass/fbn.scss */
.section-holder.flex-grid article .iwrapper h3 {
  margin: 0 0 20px 0;
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: normal;
}
/* line 335, sass/fbn.scss */
.section-holder.flex-grid article .iwrapper .more {
  text-align: right;
}
/* line 338, sass/fbn.scss */
.section-holder.flex-grid article .iwrapper .more a {
  background: #e62f25;
  padding: 8px 10px;
  color: white;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  display: block;
  float: right;
}
/* line 353, sass/fbn.scss */
.section-holder.flex-grid.grid-x3 > article {
  flex-basis: calc(100%/3);
}
/* line 356, sass/fbn.scss */
.section-holder.flex-grid.grid-x5 > article {
  flex-basis: calc(100%/5);
}
/* line 363, sass/fbn.scss */
.section-holder.post-list-default article .iwrapper {
  background: white;
}
/* line 370, sass/fbn.scss */
.section-holder.forum-home-view article {
  padding: 20px;
}
/* line 373, sass/fbn.scss */
.section-holder.forum-home-view article h3 {
  height: 55px;
  max-height: 55px;
  margin: 0 0 10px 0;
}
/* line 376, sass/fbn.scss */
.section-holder.forum-home-view article h3 a {
  color: black;
  font-size: 1.3em;
}
/* line 380, sass/fbn.scss */
.section-holder.forum-home-view article h3 a:hover {
  color: #56b251;
}
/* line 388, sass/fbn.scss */
.section-holder.forum-home-view article a.more {
  margin: 15px 0 0 0;
  background: #56b251;
  padding: 8px 10px;
  color: white;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  display: block;
  float: left;
}
/* line 400, sass/fbn.scss */
.section-holder.forum-home-view article a.more:hover {
  background: #323232;
}

/* line 408, sass/fbn.scss */
img {
  position: relative;
  max-width: 100%;
  border: none;
  height: auto !important;
  max-height: initial !important;
}

/* line 416, sass/fbn.scss */
#tooltip {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background-color: #dedede;
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
