$page-width: 1200px;
$slideshow-height: 450px;

$base-color: #515353;

$page-login-bg: #E62F25;
$color-green: #56B251;
$color-grey-dark: #323232;
$color-grey-light: #E6E7E8;
$color-red: #E62F25;
$color-content: #939293;

$font-pr: 'Chaparral', serif;
$font-sec: 'PT Sans', sans-serif;
